body {
  font-family: 'Rajdhani', sans-serif !important;
}
a{
  color: #375bed !important;
}
a:hover {
  color: #2740a3 !important;
}
.header {
  text-align: center;
  margin: 15px;
}
.btn {
  width: 50%;
  margin-top: 20px;
  border: 1px solid darkgrey !important;
}
.wrapper {
  text-align: center;
}
.card {
  text-align: center;
  margin-top: 25px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.footer {
  position: fixed;
  padding: 8px;
  text-align: center;
  background-color: #ccdaff;
  bottom: 0px;
  left: 0px;
  right: 0px;
}
#pcImg {
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 991px)  {
  .btn {
    width: 50%;
  }
  .card {
    width: 85%;
  }
}
@media (min-width: 0px) and (max-width: 469px) {
  .card {
    width: 98%;
  }
  #pcImg{
    width: 20em;
  }
}
