body {
  font-family: 'Rajdhani', sans-serif !important;
}
a{
  color: #375bed !important;
}
a:hover {
  color: #2740a3 !important;
}

/* ------------------------------------------------------------------------
Basic CSS popup. you can learn how to do this in:
https://www.w3schools.com/howto/howto_js_popup.asp (bootstrap also have an easier
way to achive a fair similar result)*/

/*popup container*/
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
}
/*actual popup*/
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #ccdaff;
  color: #4a4a4a;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  left: 50%;
  margin-left: -80px;
}
/* popup arrow (i didn't find it neccesary for this)*/
/*.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}*/
/*toggle the class show to make it visible (check the JS)*/
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}
/*regular fade in animation*/
@-webkit-keyframes fadeIn {
  from{opacity: 0;}
  to{opacity: 1;}
}
@keyframes fadeIn {
  from{opacity: 0;}
  to{opacity: 1;}
}
/* ------------------------------------------------------------------------ */
area{cursor:pointer;}

.header {
  text-align: center;
  margin: 15px;
}
.btn {
  width: 50%;
  margin-top: 20px;
  border: 1px solid darkgrey !important;
}
.wrapper {
  text-align: center;
}
.card {
  text-align: center;
  margin-top: 25px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.footer {
  position: fixed;
  padding: 8px;
  text-align: center;
  background-color: #ccdaff;
  bottom: 0px;
  left: 0px;
  right: 0px;
}
#pcImg {
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 991px)  {
  .btn {
    width: 50%;
  }
  .card {
    width: 85%;
  }
}
@media (min-width: 0px) and (max-width: 469px) {
  .card {
    width: 98%;
  }
  #pcImg{
    width: 20em;
  }
}
